[submodule "plugged/unite.vim"]
	path = plugged/unite.vim
	url = git@github.com:Shougo/unite.vim
[submodule "plugged/deoplete.nvim"]
	path = plugged/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim
[submodule "plugged/indentLine"]
	path = plugged/indentLine
	url = git@github.com:Yggdroot/indentLine
[submodule "plugged/nerdcommenter"]
	path = plugged/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter
[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule "plugged/syntastic"]
	path = plugged/syntastic
	url = git@github.com:scrooloose/syntastic
[submodule "plugged/tabular"]
	path = plugged/tabular
	url = git@github.com:godlygeek/tabular
[submodule "plugged/tagbar"]
	path = plugged/tagbar
	url = git@github.com:majutsushi/tagbar
[submodule "plugged/vim-airline"]
	path = plugged/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule "plugged/vim-airline-harlequin"]
	path = plugged/vim-airline-harlequin
	url = git@github.com:yashsriv/vim-airline-harlequin
[submodule "plugged/vim-autoformat"]
	path = plugged/vim-autoformat
	url = git@github.com:Chiel92/vim-autoformat
[submodule "plugged/vim-colorschemes"]
	path = plugged/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes
[submodule "plugged/vim-cpp-enhanced-highlight"]
	path = plugged/vim-cpp-enhanced-highlight
	url = git@github.com:octol/vim-cpp-enhanced-highlight
[submodule "plugged/vim-cpplint"]
	path = plugged/vim-cpplint
	url = git@github.com:funorpain/vim-cpplint
[submodule "plugged/vim-css-color"]
	path = plugged/vim-css-color
	url = git@github.com:ap/vim-css-color
[submodule "plugged/vim-easymotion"]
	path = plugged/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion
[submodule "plugged/vim-instant-markdown"]
	path = plugged/vim-instant-markdown
	url = git@github.com:suan/vim-instant-markdown
[submodule "plugged/vimtex"]
	path = plugged/vimtex
	url = git@github.com:lervag/vimtex
[submodule "plugged/vim-trailing-whitespace"]
	path = plugged/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace
[submodule "plugged/vim-scala"]
	path = plugged/vim-scala
	url = git@github.com:derekwyatt/vim-scala
[submodule "plugged/neocomplete.vim"]
	path = plugged/neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim
[submodule "plugged/supertab"]
	path = plugged/supertab
	url = git@github.com:ervandew/supertab
[submodule "plugged/YouCompleteMe"]
	path = plugged/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe
[submodule "plugged/context_filetype.vim"]
	path = plugged/context_filetype.vim
	url = git@github.com:Shougo/context_filetype.vim
[submodule "plugged/echodoc.vim"]
	path = plugged/echodoc.vim
	url = git@github.com:Shougo/echodoc.vim
[submodule "plugged/deoplete-clang"]
	path = plugged/deoplete-clang
	url = git@github.com:zchee/deoplete-clang
[submodule "plugged/deoplete-jedi"]
	path = plugged/deoplete-jedi
	url = git@github.com:zchee/deoplete-jedi
[submodule "plugged/neoinclude.vim"]
	path = plugged/neoinclude.vim
	url = git@github.com:Shougo/neoinclude.vim
[submodule "plugged/ultisnips"]
	path = plugged/ultisnips
	url = git@github.com:SirVer/ultisnips
[submodule "plugged/vim-snippets"]
	path = plugged/vim-snippets
	url = git@github.com:honza/vim-snippets
[submodule "plugged/neomake"]
	path = plugged/neomake
	url = git@github.com:benekastah/neomake
[submodule "plugged/ensime-vim"]
	path = plugged/ensime-vim
	url = git@github.com:ensime/ensime-vim
[submodule "plugged/vim-devicons"]
	path = plugged/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons
[submodule "plugged/nerdtree-git-plugin"]
	path = plugged/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin
[submodule "plugged/tern_for_vim"]
	path = plugged/tern_for_vim
	url = git@github.com:ternjs/tern_for_vim
[submodule "plugged/zeavim.vim"]
	path = plugged/zeavim.vim
	url = git@github.com:KabbAmine/zeavim.vim
